<div class="row">
    <div class="col">
        <h2>Meeting Details</h2>
        <hr>
    </div>
</div>
<div class="row">
  <div class="col-2">
    <p>Title: </p>
  </div>
  <div class="col">
    <p>	{{meeting.title}}</p>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <p>Description: </p>
  </div>
  <div class="col">
    <p>	{{meeting.description}}</p>
  </div>
</div>
<div class="row">
	<div class="col-2">
		<p>Meeting Time: </p>
	</div>
	<div class="col">
		<p>	{{meeting.meetingDate.year}}/{{meeting.meetingDate.month}}/{{meeting.meetingDate.day}} {{formatTime(meeting.meetingDate.startingHour)}} - {{formatTime(meeting.meetingDate.endingHour)}}</p>
	</div>
</div>
<div class="row">
    <div class="col">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Members ({{meeting.members.length}})">
                <ng-template ngbPanelContent>
                	<ul>
                   <ng-template ngFor let-item [ngForOf]="meeting.members">
                   	<li>{{item.name}}</li>
                     {{item.email}}
                   </ng-template>
                   </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
