<div class="container" style="height: 100%;">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="margin-top: 15em;">
                <h3 class="card-header">Login</h3>
                <div class="card-block">
                  <fieldset>
                    <input class="btn btn-lg btn-success btn-block" type="submit" (click) ="login()" value="Login">
                  </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
